.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 15px;
}
h3{
    background-color: lightcyan;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
}